.button.plt{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
};

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.head{
    color: #CD0000;
    font-size: 20px;
    font-weight: bold;
}

.body{
    font-size: 13.5px;
}

.div{
    line-height: 0.7;
}

.banner{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.step {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.targetImage{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lineheight{
    line-height: normal;
}