page-idcardform {

}

ion-item.alert {
    color: red;
}

p.head{
    color: #CD0000;
}

.button.plt{
    margin-left: auto;
    margin-right: auto;
    display: block !important;
}


.banner{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.step {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
